[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/wordless"]
	path = content/plugins/wordless
	url = https://github.com/adampatarino/wordless.git
